<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Extensions" version="1.5.26.1" targetFramework="net45" />
  <package id="AWS.SessionProvider" version="1.5.26.3" targetFramework="net45" />
  <package id="AWSSDK" version="1.5.26.3" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.10.5" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.5.11" targetFramework="net45" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
</packages>